.footer {
	padding: 20px 0;
	border-top: 1px solid @white;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.md-block({
			flex-direction: column;
			justify-content: center;
		});

		> * {
			margin: 10px 5px;
		}
	}

	.custom-logo-link {
		max-width: 150px;
	}
}