.btn {
	border-radius: 24px;
	padding: 28px 30px;

	color: @white;
	background-color: @btn-color;

	display: inline-block;

	transition: background-color 0.5s ease;

	&:hover,
	&:active,
	&:focus {
		background-color: @me-color-fiery-orange;
	}
}

.btn-small {
	padding: 25px 30px;

}