.carousel__serv {
	--f-carousel-spacing: 40px;

	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0.49%, #FFFFFF 15.99%, #FFFFFF 100%);
}

// .f-carousel__dots {
// 	bottom: 100px;
// }

.serv__slide {
	max-width: 360px;

	.sm-block({
		margin-left: auto;
		margin-right: auto;
	});

	.card:hover {
		transform: none;
	}
}