// USER VARIABLES SECTION
@white: #fff;
@btn-color: #2E2E48;
@me-color-dark-taupe: #4E473F;
@me-color-walnut-brown: #180B02;
@me-color-dark-heather: #807974;
@me-color-fiery-orange: #F07D29;



@fontsize: 15px; // Body Font Size
@lineheight: 1.6; // Document Line Height

@userfont: 'Inter', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

// .debugGrid{
// 	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
// }

.container {
    .wrapper();
}

.row {
    .row-flex();
}

.col-12 {
    .col();
    .size(12);
}

.col-6 {
    .col();
    .size(6);
    .size-sm(12);
}

.col-4 {
    .col();
    .size(4);
    .size-sm(12);
}

// ::placeholder {
// 	color: @white;
// }

// ::selection {
// 	background-color: @accent2;
// 	color: #fff;
// }

// input, textarea {
// 	outline: none;
// 	&:focus:required:invalid { border: 1px solid @accent2 }
// 	&:required:valid { border: 1px solid green }
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('../fonts/Montserrat-Regular.eot');
//     src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Montserrat-Regular.woff2') format('woff2'),
//         url('../fonts/Montserrat-Regular.woff') format('woff'),
//         url('../fonts/Montserrat-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }


html, body {
    overflow-x: hidden;
}


body {
    font-family: @userfont;
    font-size: @fontsize;
    line-height: @lineheight;
    font-weight: 500;
    color: @me-color-dark-taupe;
    // background-color: @bg;
    text-rendering: optimizeSpeed;
    // position: relative;
    min-width: 375px;
}

main {
    min-height: 100vh;
}

section {
    padding: 62px 0;

    .sm-block({
        padding: 46px - 40 0;
    });
}

.h2 {
    font-size: 36px;
    line-height: 1.3;    
    font-weight: 700;
    color: @me-color-walnut-brown;

    margin-bottom: 52px;
    text-align: center;

    .sm-block({
        font-size: 24px;
        margin-bottom: 40px;
    });

    br {
        .sm(display, none);
    }
}

.h2-subtitle {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: @me-color-dark-heather;

    margin-bottom: 52px;
    text-align: center;

    .sm-block({
        // font-size: 18px;
        margin-bottom: 40px;
    });

    br {
        .sm(display, none);
    }
}

.h2 + .h2-subtitle {
    margin-top: -30px;

    .sm(margin-top, -16px);
}

.h3 {
    font-size: 24px;
    line-height: 1.167;
    font-weight: 700;
    color: @me-color-walnut-brown;

    .sm(font-size, 20px);
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
	resize: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
// Remove all mouse-triggered focus styles without breaking keyboard accessibility
*:focus:not(:focus-visible) { 
    outline: none !important; 
}

// fix safari
input[type='submit'] { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
}